<div class="login-form-table">
  <mat-card>
    <mat-card-content>
      <mat-tab-group>
        <!-- Signin Form -->
        <mat-tab label="Log In">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" >
          <h2>Welcome</h2>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="username" formControlName="username" required>
            <mat-error>
              Please provide a valid username
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="incorrectvalues">
            The username and password didn't match
          </mat-error>
          <button mat-raised-button type="submit"  color="primary">Login</button>
        </form>
      </mat-tab>
        <mat-tab label="Sign Up">
          <!-- SignUp Form -->
          <form [formGroup]="forma" (ngSubmit)="onSubmit2()">
            <h2>Welcome</h2>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="name" formControlName="name" required>
              <mat-error>
                Please provide a name!
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="surname" formControlName="surname" required>
              <mat-error>
                Please provide a surname!
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="username" formControlName="username" required>
              <mat-error>
                Please provide a username
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <mat-error>
                Please provide a password
              </mat-error>
            </mat-form-field>
            <mat-error *ngIf="incorrectvalues2">
              The username already exists
            </mat-error>
            <button mat-raised-button type="submit" color="primary">Create Account</button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
