
<div class="menu-table">
  <mat-table [dataSource]="menu"   aria-label="Elements"class="  mat-elevation-z8">


    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef  > Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef   > Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef  > Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>


    <ng-container matColumnDef="asd">
      <th mat-header-cell *matHeaderCellDef  > Add to Cart </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="orderonclick(element._id)">ADD</button></td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumnsonmenu"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsonmenu;"></tr>
</mat-table>
<button mat-raised-button color="primary">Back</button>
<!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator> -->



</div>

