.tile1{

  background-color: rgb(154, 175, 168);
  border-radius: 15px;
}

.tile2{

  background-color: rgb(209, 255, 216);
  border-radius: 15px;
}

.userinfo{
 width: 75%;
 margin-left: auto;
 margin-right: auto;
position: center;
 text-align: center;

}
.usertabela{
  margin: 20px 20px;
}
