<div class="container-fluid">
  <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
          <div>
              <h1>About</h1>
              <p>
                In this page it will be show a small Project Description. This project is about a food delivery application. This application is seperated in 2 main features: User Area and Manager Area.
              </p>
              <p>
                The user can see list of restaurants also can check desired restaurant menu. In order to place an order or check the past orders the user has to be logged in.
              </p>
              <p>
                The admin or manager can see current orders and he can also update the order status.
              </p>
          </div>
      </div>
      <div class="col-md-4">
      </div>
  </div>
</div>
